# Análise de dados
  pandas
  numpy
  matplotlib
  seaborn

  # Machine Learning
  scikit-learn
  xgboost
  lightgbm

  # Desbalanceamento
  imbalanced-learn

  # API
  fastapi
  uvicorn
  pydantic

  # Interface
  streamlit

  # Banco de dados
  psycopg2-binary
  sqlalchemy

  # MLOps
  mlflow

  # Testes
  pytest
  pytest-cov

  # Utilitários
  python-dotenv